/* Total container for index page(Login page) */
#indexPage {
  width: 100%;
  height: 845px;

  display: inline-block;

  background-color: black;
}

/* Container for login system */
#loginSystem {
  width: 300px;
  height: auto;

  display: block;

  margin: auto;
  margin-top: 200px;
  padding-bottom: 30px;

  border: 2px solid grey;
  border-radius: 8px;

  color: white;
}

/* 
@media only screen and (max-width: 600px) {

    #loginSystem {
        width: 95%;
    }


} */

/* Login Element Title*/
#loginSystem #loginTitle {
  font-size: 190%;
  font-family: "Goudy Old Style";
  font-weight: bold;
  text-align: center;

  width: 100%;
  height: 50px;

  display: block;

  color: black;
  background-color: grey;
}

#loginSystem .infoRow {
  width: 100%;
  height: 55px;

  display: block;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Username and password labels */
#loginSystem .infoRow label {
  font-size: 100%;
  font-family: "Goudy Old Style";
  width: 100px;

  display: inline-block;

  padding: 5px;
  padding-left: 10px;
}

#loginSystem label:first-of-type {
  padding-top: 20px;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Username and password input */
#loginSystem input[type="text"],
#loginSystem input[type="password"] {
  font-size: 100%;

  width: 170px;

  color: white;
  background-color: black;

  border: none;
  border-bottom: 1px solid darkred;

  cursor: text;
  caret-color: red;
}

#loginSystem input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  -webkit-text-fill-color: white !important;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* Button to login users */
#loginUser-btn {
  font-size: 130%;
  font-family: "Goudy Old Style";

  width: 120px;
  height: 30px;

  display: block;
  margin: auto;
  margin-top: 10px;

  border-radius: 8px;

  color: white;
  background-color: black;
  border: 1px solid white;

  cursor: pointer;
  caret-color: red;
}

#loginUser-btn:hover {
  background-color: white;
  border-color: grey;
  color: black;
}

#loginUser-btn:active {
  color: white;
  background-color: blue;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

#RememberMeCheckbox {
  font-size: 100%;

  display: block;

  padding-left: 105px;
  margin-top: -10px;
  color: red;
}

#loginError {
  font-size: 110%;
  font-family: "Goudy Old Style";

  width: 100%;
  height: auto;

  padding: 10px;

  color: red;
}
