html,
body {
    margin: 0px;
    padding: 0px;
}

.boxShadow {
    box-shadow: 0px 8px 20px -1px rgba(65, 65, 65, 1);
    -webkit-box-shadow: 0px 8px 20px -1px rgba(65, 65, 65, 1);
    -moz-box-shadow: 0px 8px 20px -1px rgba(65, 65, 65, 1);
}


/* .Different fonts{

    "Super cursive""--
    Brush Script MT,
    Brush Script Std,
    cursive--

    
} */